@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

::-webkit-scrollbar {
  width: 15px;
}


::-webkit-scrollbar-track {
  background-color: #ebdfe7; 
  border-radius: 8px; 
}

::-webkit-scrollbar-thumb {
  background-color: #e1e1e1; 
  border-radius: 8px; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: #654321; 
}


body {
  color: rgb(var(--foreground-rgb));
  background-color:white;

}

#header{
  background-color: white;
  border:1px solid black;
  border-bottom-left-radius: 120px;
  border-bottom-right-radius: 120px;
  border-bottom-width: 20px;
  border-bottom-color: #55b3c5c2;

}

#toolbar{
  background-color: white;
  border-bottom-left-radius: 120px;
  border-top: 20px solid rgb(58, 54, 66);
  border-left-width: 20px;
  border-left-color: #ffb324c2;
  border-right-width: 20px;
  border-right-color:  #96c7dac2;
  ;
  border-bottom-right-radius: 120px;
}
#canvas-element{
  box-shadow:0px 0px 5px black;
}